<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>1000ms的聊天室</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="/static/css/chat_room.css" rel="stylesheet">
</head>
<body>
    <div class="hidden-info" hidden="hidden">
        <p id="id-p-chat-url">{{chat_url}}</p>
        <p id="id-user-account">{{account}}</p>
        <p id="id-user-username">{{username}}</p>
    </div>
    <div class="main">
        <div class="relationship-div">
            <div class="title-div">
                <span>联系人</span>
            </div>
            <ul class="memberTab">
                <li id="id-memberTab-friend">好友</li>
                <li id="id-memberTab-group">群</li>
                <li id="id-memberTab-all" class="active">大厅</li>
            </ul>
            <div class="member-item"></div>

            <div class="footer">
                <ul class="relationship-footer">
                    <li id="id-footer-add-friend">
                        <div class="icon"></div>
                        <span>添加好友</span>
                    </li>
                    <li id="id-footer-add-group">
                        <div class="icon"></div>
                        <span>添加群聊</span>
                    </li>
                    <li id="id-footer-create-group">
                        <div class="icon"></div>
                        <span>创建群聊</span>
                    </li>
                    <li id="id-footer-config">
                        <div class="icon"></div>
                        <span>设置</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="contact-div">
            <div class="title-div">
                <span id="id-title-name">大厅</span>
                <span id="id-title-id" hidden="hidden">1</span>
                <span id="id-title-type" hidden="hidden">3</span>
            </div>
            <div class="message-div">
                <div class="total-message">

                </div>
            </div>
            <div class="footer">
                <textarea id="id-user-message"></textarea>
                <button id="id-btn-send-user-message">发送</button>
            </div>
        </div>
    </div>



</body>
<script src="/static/js/utils.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/userEvent.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/webSocketEvent.js"></script>
<script src="/static/js/webSocketClient.js"></script>
<script src="/static/js/surface.js"></script>
<script src="/static/js/main.js"></script>
</html>
